
<div class="pic">
  <%= cl_image_tag("https://res.cloudinary.com/dmnmqtpct/image/upload/v1637445363/photo-1536440136628-849c177e76a1_msgsdn.jpg",
      width: 400, height: 300, crop: :fill) %>
    <h1>Welcome in <strong>Your cinema</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
</div>

</div>
<div class="mb-3">
  <ul>
    <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
</div>
<%= link_to "Create a list", new_list_path %>
